extends layout

block content
	script(src="/javascripts/testchart.js")
	h1= title
	u1
		each meas, i in doc.measurements
			if meas
				p= "Timestamp: " + meas.timestamp
				ul
					li= "temperature: " + meas.temp
					li= "light level: " + meas.light
					li= "sound level: " + meas.sound
	#container_temp
	#container_sound

